*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #23074d, #cc5333);
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > .button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.7);
}

.calculator-grid > .button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  text-align: right;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  color: white;
  font-size: 32px;
  word-wrap: break-word;
  word-break: break-all;
}

.number {
  font-weight: 500;
}

.circle {
  height: 45px;
  width: 45px;
  border: 3px solid black;
  border-radius: 50%;
  display: inline-block;
}


.logs {
  width: 400px;
  height: 620px;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: auto;
 
}

.logs * {
  display: flex;
  margin: 5px 20px 0;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
}

.red {
  background-color: red;
}

.close {
  cursor: pointer;
}